# flyctl launch added from .gitignore
# Environment variables

# Build outputs
**/bin
**/obj
**/*.exe

# IDE files
**/.vs
**/.vscode

# Results
**/results.json
**/results.xml
.idea

**/wwwroot

# flyctl launch added from .idea/.idea.agg.dir/.idea/.gitignore
# Default ignored files
.idea/.idea.agg.dir/.idea/shelf
.idea/.idea.agg.dir/.idea/workspace.xml
# Rider ignored files
.idea/.idea.agg.dir/.idea/modules.xml
.idea/.idea.agg.dir/.idea/.idea.agg.iml
.idea/.idea.agg.dir/.idea/contentModel.xml
.idea/.idea.agg.dir/.idea/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
.idea/.idea.agg.dir/.idea/httpRequests
# Datasource local storage ignored files
.idea/.idea.agg.dir/.idea/dataSources
.idea/.idea.agg.dir/.idea/dataSources.local.xml
fly.toml
